#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: end;
}

#App {
  align-self: self-end;
}

.qc-chat-minimized {
  justify-content: end;
}

.qc-button-container {
  justify-content: end;
  display: flex;
  padding: 0.3em;
}

.qc-button-container > button {
  color: #101010;
  background-color: #b4dcff;
  font-size: 1.2em;
  padding: 0.5em 0.7em;
  border-radius: 50%;
}

.qc-chat-inner {
  width: 450px;
  max-height: 50vh;
}
